<section class="phx-hero"> 
  <div>
    Hey,
      <br>
      <br>
      <span><%= gettext "%{name}", name: @user.email %></span>
       Kindly login
       <a style= "color: hotpink" href= "https://app.dailyploy.com/login/"> here</a> 
        using this password: <strong><b><%= gettext "%{name}", name: @user.name %></b></strong> and once logged in, kindly use the same to change your password.
      <br>
      <br>
    Thank You!
    <br>
    Dailyploy
  </div>
</section>